doctype html
html
  head
    title Node Package Manual
    link(rel="stylesheet", href="/css/vendors/bootstrap-3.1.1/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/vendors/codemirror.css")
    link(rel="stylesheet", href="/css/vendors/codemirror-theme.css")

  body
    .container
      .col-sm-9
        block content

      .col-sm-3
        .well.well-sm
          .media
            if (user)
              img(src="https://secure.gravatar.com/avatar/efc17c527bd56f6f44db66fb0d8ceaf0?s=50").pull-left
              .media-body
                #account
                  p= user.username
                  #account-actions
                    a(href="#") Edit Profile
                    &nbsp;
                    ="|"
                    &nbsp;
                    a(href="/logout") Log Out

            else
              a(href="/login").btn.btn-primary.btn-sm.btn-block Login

  script(src="/js/codemirror.js")
  script(type='text/javascript').
    var textareas = Array.prototype.slice.call(document.getElementsByTagName("textarea"));
    textareas.forEach(function (textarea) {
      var myCodeMirror = CodeMirror.fromTextArea(textarea, {
        theme: "base16-light"
      });
    });
