extends layout

block content
  .jumbotron
    h1 Node Package Manual
    p Crowdsourcing READMEs for your awesome modules
    a(href="/signup").btn.btn-primary.btn-lg Signup
    &nbsp;
    a(href="/login").btn.btn-primary.btn-lg Login
