doctype html
html
  head
    title Node Package Manual
    link(rel="stylesheet", href="/css/vendors/bootstrap-3.1.1/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")

  body
    .container
      block content
