extends ../../layouts/guest

block content
  h1= name
  form(action="/package" method="POST")
    input(type="hidden" name="manual[name]" value="#{name}")

    .form-group
      textarea(name="manual[content]").form-control

    button(type="submit").btn.btn-primary.btn-lg Create Manual
